asn1crypto==0.24.0
atomos==0.3.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
cssselect==1.0.3
idna==2.7
packaging==17.1
peewee==3.6.4
pluggy==0.7.1
py==1.5.4
pycparser==2.18
PyMySQL==0.9.2
pyparsing==2.2.0
pyquery==1.4.0
requests==2.19.1
six==1.11.0
tox==3.1.2
urllib3==1.23
virtualenv==16.0.0
